<div class="nav">
  <h3 class="nav__title">Quick Start</h3>
  <ul class="nav__menu">
    <li class="nav__menu-item<%= path === '/' ? ' nav__menu-item--selected' : '' %>">
      <a class="nav__link" href="<%= base%>/">Overview</a>
    </li>
    <li class="nav__menu-item<%= path === '/getting-started' ? ' nav__menu-item--selected' : '' %>">
      <a class="nav__link" href="<%= base%>/getting-started">Getting Started</a>
    </li>
  </ul>
</div>
